body {
    margin: 10px auto;
    background-color:brown;
}
#wrapper{
    border: 0px solid;
    width: 970px;
    height: 550px;
    margin: auto;
background-color: wheat;
}

#header{
    border:1px solid;
    width: 800px;
    height: 50px;
    background-color:aqua;
    margin: auto;
    text-align: center;
    line-height: 10px;
}
#bod{
    border: 0px solid;
    width: 800px;
    margin: 5px auto;
    background-color:aqua;
}
#bod form{
    margin: 8px;
}
#bod1{
    border: 0px solid;
    width: 398px;
    height: 392px;
    margin: 0px 0px 0px 84px;
    background-color:aqua;
    float: left;
}
#bod1 form{
    margin: 10px;
}
#bod2{
    border: 0px solid;
    width: 398px;
    height: 392px;
    margin: 0px 84px 0px 0px;
    background-color:aqua;
    float: right;

}
#bod2 form{
    margin: 10px;
}
#bod2 a{
   text-decoration: none;
}
#bod2 a:hover{
   color:darkblue;
}
#footer{
border: 0px solid;
width: 791px;
margin-top: 405px;
margin-left: 84px;
background-color:aqua;
height: 20px;
text-align: center;
padding: 5px;
line-height: 0px;
}